## Curso SQL - Píldoras Informáticas

Para poder trabajar debemos realizar unos pasos previos:
- Usar Apache + mysql usando XAMPP
- Crear la base de datos
- Importar los datos
- Crear el usuario y darle privilegios

**IMPORTANTE:** Siempre necesitarás tener el Apache y el MYSQL activo desde el XAMPP.

Tras esta iniciación, ya podemos conectar con la BBDD usando el engine de SQLAlchemy.

In [6]:
import sqlalchemy

Para conectar, le pasamos por parámetro la información de la base de datos y del usuario, usando la siguiente fórmula fórmula:

`'conector://username:password@hostname/db_name'`

In [7]:
sqlalchemy.create_engine('mysql://scott:tiger@localhost/Curso_SQL')

Engine(mysql://scott:***@localhost/Curso_SQL)

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Finalmente conectamos:

In [11]:
%sql mysql://scott:tiger@localhost/Curso_SQL

Ya podemos hacer consultas a la tabla:

In [12]:
%%sql

SELECT EMPRESA, DIRECCIÓN, POBLACIÓN
FROM CLIENTES

 * mysql://scott:***@localhost/Curso_SQL
38 rows affected.

[('BELTRÁN E HIJOS', 'LAS FUENTES 78', 'MADRID'),
 ('LA MODERNA', 'LA PALOMA 123', 'OVIEDO'),
 ('EL ESPAÑOLITO', 'MOTORES 34', 'BARCELONA'),
 ('EXPORTASA', 'VALLECAS 34', 'MADRID'),
 ('CONFECCIONES AMPARO', 'LOS MOROS 23', 'GIJÓN'),
 ('LA CASA DEL JUGUETE', 'AMÉRICA 45', 'MADRID'),
 ('JUGUETERÍA SUÁREZ', 'PARIS 123', 'BARCELONA'),
 ('ALMACÉN POPULAR', 'LAS FUENTES 124', 'BILBAO'),
 ('FERETERÍA EL CLAVO', 'PASEO DE ÁLAMOS 78', 'MADRID'),
 ('JUGUETES MARTÍNEZ', 'VIA LAYETANA 245', 'BARCELONA'),
 ('FERNÁNDEZ SL', 'PASEO DEL MAR 45', 'SANTANDER'),
 ('CONFECCIONES ARTÍMEZ', 'GENERAL PERÓN 45', 'A CORUÑA'),
 ('DEPORTES GARCÍA', 'GUZMÁN EL BUENO 45', 'MADRID'),
 ('EXCLUSIVAS FERNÁNDEZ', 'LLOBREGAT 250', 'BARCELONA'),
 ('DEPORTES MORÁN', 'AUTONOMÍA 45', 'LUGO'),
 ('BAZAR FRANCISCO', 'CARMEN 45', 'ZAMORA'),
 ('JUGUETES LA SONRISA', 'LA BAÑEZA 67', 'LEÓN'),
 ('CONFECCIONES GALÁN', 'FUENCARRAL 78', 'MADRID'),
 ('LA CURTIDORA', 'OLIVARES 3', 'MÁLAGA'),
 ('LÍNEA JOVEN', 'SIERPES 78', 'SEVILLA'),
 ('BAZAR EL BARAT', 'DIAGONAL 56', 'BARCELONA'),
 ('EL PALACIO DE LA MODA', 'ORTEGA Y GASSET 129', 'MADRID'),
 ('SÁEZ Y CÍA', 'INFANTA MERCEDS 23', 'SEVILLA'),
 ('DEPORTES EL MADRILEÑO', 'CASTILLA 345', 'ZARAGOZA'),
 ('FERRETERÍA LA ESCOBA', 'ORENSE 7', 'MADRID'),
 ('JUGUETES EL BARATO', 'VÍA AUGUSTA 245', 'BARCELONA'),
 ('CONFECCIONES HERMINIA', 'CORRIDA 345', 'GIJÓN'),
 ('BAZAR EL ARGENTINO', 'ATOCHA 55', 'MADRID'),
 ('LA TIENDA ELEGANTE', 'EL COMENDADOR 67', 'ZARAGOZA'),
 ('DEPORTES NAUTICOS GARCÍA', 'JUAN FERNÁNDEZ 89', 'ÁVILA'),
 ('CONFECCIONES RUIZ', 'LLOBREGAT 345', 'BARCELONA'),
 ('BAZAR LA FARAONA', 'CASTILLA Y LEÓN 34', 'MADRID'),
 ('FERRETERÍA EL MARTILLO', 'CASTELLANOS 205', 'SALAMANCA'),
 ('JUGUETES EDUCATIVOS SANZ', 'ORENSE 89', 'MADRID'),
 ('ALMACENES FERNANDEZ', 'ANTÓN 67', 'TERUEL'),
 ('CONFECCIONES MÓNICA', 'MOTORES 67', 'BARCELONA'),
 ('FERRETERÍA LIMA', 'VALLECAS 45', 'MADRID'),
 ('DEPORTES EL BRASILEÑO', 'ABEL MARTÍNEZ 67', 'SALAMANCA')]